body {
	color: #595959;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.5px;
	margin: 50px auto 0 auto;
	width: 750px;
	height: 90%;
    font-weight: 100;
    letter-spacing: 1px;

}

h2 {
    font-size: 125%;
    font-weight: 100;
    margin-bottom: -10px;
}

p  {
    font-size: 90%;
}

a {
    color: #1abc9c;
}


a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #16a085;
}

img {
    height: auto;
    max-width: 100%;
}

.about-me {
	width: 675px;
	margin: 0 auto;
}

.topbar {
	position:fixed;
	top: 0px;
	width: 750px;
	height: 40px;
	background-color: white;
	opacity: 0.95;
	z-index: 100;
}


.topbar-link {
	display: inline-block;
	text-align: center;
	margin: 0px 10px 10px 10px;
	float: right;
	margin-top: 7.5px;
	padding-bottom: 5px;
}

.topbar-link a {
	color: #595959;
}

.topbar-link a:hover {
    text-decoration: none;
    color: #16a085
}


.sphere {
	margin-top: 80px;
}


.demo {
    position:absolute;
    z-index: 1;
}

.sphere_video {
    position:absolute;
    z-index: 2;
    padding-top: 60px;
    padding-left: 16.5px;
}

.description {
	width: 300px;
}

body h4 {
	color: #595959;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.5px;
	margin: 50px auto 0 auto;
	height: 90%;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 14px;
}







